<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APSM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>YumeKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DF8E43F1974B98500023E2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DF8E4551974B98600023E2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DF8E4A51974BA0E00023E2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DF8E4AF1974BA0E00023E2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
